<div class="container">

  <div ng-controller="mainCtrl">
    <div ng-repeat="detail in eventDetails">
      <h1>HELLO!</h1>
      <h1>{{detail.eventname}}</h1>
      <h5>{{detail.datestring}}</h2>
      <h5>{{detail.location}}</h2>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-7 col-md-6 col-lg-6">
        <div class="menu">
        <h3><strong>Menu<strong></h3>
        <h5>
          View: <a href="#">Full Menu</a> | <a href="#">Chef's Menu</a>
        </h5>
        <h4>Main Course</h4>
        <ul ng-repeat="food in foods | orderBy: 'chef'" ng-show="food.course === 'Dinner'">
          <li>{{food.foodname}} - {{food.chef}}
            <a href="#"> </a>
          </li>
        </ul>

        <h4>Libations</h4>
        <ul ng-repeat="food in foods" ng-show="food.course === 'Libations'">
          <li>{{food.foodname}} - {{food.chef}}
            <a href="#"> </a>
          </li>
        </ul>

        <h4>Appetizers</h4>
        <ul ng-repeat="food in foods" ng-show="food.course === 'Appetizers'">
          <li>{{food.foodname}} - {{food.chef}}
            <a href="#"> </a>
          </li>
        </ul>

        <h4>Dessert</h4>
        <ul ng-repeat="food in foods" ng-show="food.course === 'Desserts'">
          <li ng-class="editable">{{food.foodname}} - {{food.chef}}
            <a href="#"> </a>
          </li>
        </ul>
      </div><!-- Menu -->
    </div> <!-- Left Column -->

      <div class="col-xs-5 col-md-6 col-lg-6">

      <form>
        <div class="form-group menu-form">
          <h4>Add to menu:</h4>
          <input type="text" ng-model="foods.foodname" placeholder="food" class="form-control"/>
          <input type="text" ng-model="foods.chef" placeholder="chef" class="form-control"/>
          <input type="text" ng-model="foods.course" placeholder="course" class="form-control"/>
          <div class="checkbox">
            <label ng-repeat="course in courses" class="course-select">
              <input type="checkbox">{{course.coursename}}</input>
            </label>
          </div>
          <div><h6><a href="#">(edit/add courses)</a></h6></div>
         <button type="submit" class="btn btn-default" ng-click="addFoods()">Submit</button>
        </div> <!-- Menu Form -->
      </form>

      <form>
        <div class="form-group note-form">
          <h4>Leave a note! <span class="small">(press enter to send)</span></h4>
          <input type="text" ng-model="notes" placeholder="Write something nice! :)" class="form-control"/>
        </div>
      </form>

    </div> <!-- Right Column -->

    </div> <!-- food ROW -->

  </div> <!-- mainCtrl -->

</div>
