body {
  font-family: 'Open Sans', sans-serif;
}

input[type='checkbox']::after {
  padding-left: 120px;
}

li {
  list-style: none;
}

.add-menu {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.add-menu #submit {
  margin-top: 25px;
}
