body {
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

.menu {
  margin-bottom: 40px;
}

.menu h5 {
  margin-bottom: 30px;
}

.menu-form {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

.menu-form .form-control {
  margin: 10px 0;
}

.course-select {
  padding-right: 10px;
}
